.main-button {
    width: 300px;

    font-size: 28px;
    color: whitesmoke;
    border: none;
    border-radius: 6px;
    padding: 20px 30px;
}
.primary-button {
    background: rgb(21, 63, 73);
}
.secondary-button {
    background: rgb(57, 37, 100);
}